
.quiz {
  display: flex;
  height: flex;
}
.quiz__wrapper {
  position: relative;
  display: flex;
  width: auto;
  min-width: 320px;
  margin: auto;
}
.quiz__card {
  display: none;
  flex-direction: column;
  width: 100%;
  min-height: flex;
  margin: auto;
  padding: 1rem;
  text-align: center;
  color: #ffead1;
  border-radius: 1rem;
  background-color: #118192;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
}
.quiz__card[aria-active=true] {
  display: flex;
  -webkit-animation: revealQuizQuestion 0.5s cubic-bezier(0, 0, 0, 1);
          animation: revealQuizQuestion 0.5s cubic-bezier(0, 0, 0, 1);
}
.quiz__button {
  display: inline-block;
  margin: 0.25rem;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  line-height: 1;
  color: #ffead1;
  border: 1px solid #ffead1;
  border-radius: 0.5rem;
  background-color: #ec8587;
  box-shadow: 0 2px 0 2px #ffead1;
}
.quiz__button:hover, .quiz__button:focus {
  background-color: #872f47;
}
.quiz__button:active {
  box-shadow: 0 0 0 2px #ffead1;
  transform: translateY(2px);
}
.quiz__results {
  display: inline-block;
}

@-webkit-keyframes revealQuizQuestion {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
}

@keyframes revealQuizQuestion {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
}